.accordion {
  margin: 40px 0;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  background-color: var(--white50);
  box-shadow: 0px 2px 1px -1px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  overflow: hidden;
}

.accordionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  font-size: 1.6rem;
  cursor: pointer;
  
}


.accordionTitle:active {
  background-color: #d8d8d8;
}

.accordionContent {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  font-size: 1.4rem;
  gap: 1.2rem;
}


.accordionContent a {
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
}
