/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

/*========== HEADER =============*/

.calculator {
  margin: 0 auto;
  width: 100%;
  /* padding-bottom: 63px; */
}

.calculator__content {
  background-color: #b0c9e7;
  border-radius: 0px 0px 60px 60px;
  padding-bottom: 64px;
  margin-bottom: 3rem;
}

.calculator__header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}

.calculator__container_text {
  font-family: "Oswald", sans-serif;

  /* text-align: center; */

  gap: 1.6rem;
}

.calculator__title {
  font-family: "Oswald", sans-serif;
  font-size: 5.2rem;
  font-weight: 600;
  color: var(--primary350);
  text-align: left;
}

.calculator__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding-top: 10px;
  padding-bottom: 20px;
  /* text-align: justify; */
}

.calculator__subtitle--small {
  font-weight: 400;
  font-size: 1.6rem;
}

.calculator__subtitle--small-bolder {
  font-weight: bolder;
}

.calculator__container__image {
  max-width: 100%;
  /* width: 45%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*========== FORMS CALCULATOR =============*/

.calculator__forms__container {
  display: flex;
  flex-direction: column;
  background-color: #b0c9e7;
  max-width: 1280px;
  margin: 0 auto;
}

.calculator__forms {
  border-radius: 40px;
  background-color: #fefefe;
  padding: 2.4rem 6.4rem 3.2rem;
  width: 100%;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
}

.calculator__forms__title {
  font-family: "Oswald", "Sans-serif";
  color: var(--primary450);
  font-size: 2.4rem;
  text-align: center;
  padding-bottom: 4.8rem;
}

.calculator__forms__input__container {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  width: 100%;
}

.calculator__first-row__input {
  display: flex;
  gap: 25rem;
}

.calculator__first-input__container,
.calculator__second-input__container,
.calculator__third-input__container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.calculator__inputs.first {
  display: flex;
  gap: 0.8rem;
  align-items: flex-end;
}

.calculator__inputs.first,
.calculator__inputs.second {
  display: flex;
  gap: 0.8rem;
  align-items: flex-end;
  font-family: "Inter", "sans-serif";
  font-weight: 400;
  color: var(--primary250);
  font-size: 1.6rem;
}

.calculator__inputs input {
  width: 60px;
}

.calculator__third-input__container input {
  width: 130px;
}

.calculator__forms__label {
  font-family: "Inter", "sans-serif";
  color: var(--primary450);
  font-size: 1.6rem;
  font-weight: 500;
}

.calculator__input.third {
  text-align: right;
  padding-left: 1rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"],
input[type="text"] {
  font-size: 2rem;
  color: var(--primary250);
  height: 35px;
  border-radius: 8px;
  border: 2px solid #b0c9e7;
  text-align: right;
  padding-right: 1.2rem;
}

::-webkit-input-placeholder {
  font-family: "Inter", "sans-serif";
  font-size: 2rem;
  color: var(--primary250);
}

.label__obs {
  font-family: "Inter", "sans-serif";
  color: var(--primary450);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.4rem;
}

.btn--results {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn--results button {
  width: 21.1rem;
  height: 5.1rem;
  border-radius: 8px;
  background-color: var(--primary200);
  border: none;
  color: var(--white50);
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.btn--results button:hover {
  background-color: #0056b3;
}

/*========== RESULTADOS  =============*/

.results__title {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 3.6rem;
  color: #003d84;
  text-align: center;
  margin-top: 30px;
}

.results__resume {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
  flex-wrap: wrap;
  height: 14.3rem;
  border-radius: 40px;
  border: 2px solid var(--primary250);
}

.result__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  gap: 64px;
}

.result__two__first__rows {
  display: flex;
  flex-direction: row;
  gap: 6.4rem;
}

.result_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__row {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.result__icon {
  width: 4rem;
  height: 4rem;
}

.result__info {
  color: var(--tertiary200);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.result__label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

/*========== CARDS =============*/

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 32px;
  justify-content: center;
}

.card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-on {
  border: 2px solid #003d84;
}

.card-off {
  border: 2px solid #ddd;
}

.cardImage {
  width: 100%;
}

.cardImage img {
  width: 100%;
  max-height: 130px;
  border: 1.5px solid #8baeda;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardText {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.card__title {
  font-size: 1.8rem;
  color: #003d84;
}

.cardTitle img {
  width: 25px;
}

.cardSubtitle {
  text-align: left;
  font-size: 1.6rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button button {
  cursor: pointer;
  border: none;
  font-family: Inter, sans-serif;
  font-weight: 700;
  line-height: 24px;
  width: 186px;
  height: 40px;
  background-color: #feb200;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* .cards__container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
} */

.cards__container .cards .card__info {
  flex: 1 1 calc(25% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #f7f9fc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s ease; */
  box-sizing: border-box;
}

.cards__container .cards .card__info.card-off .cardImage img {
  max-width: 100%;
  height: auto;
  border: 1.5px solid #a6a6a6;
  border-radius: 20px;
}

.cards__container .cards .card__info.card-on img {
  max-width: 100%;
  height: auto;

  border-radius: 20px;
}

.cards__container .cards .card__info.card-on {
  background-color: #ffffff;
  border: 2px solid var(--primary200);
  border-radius: 25px;
  gap: 8px;
}

.cards__container .cards .card__info.card-off {
  background-color: #ffffff;
  border: 2px solid #a6a6a6;
  border-radius: 25px;
  gap: 0.8rem;
}

.invite__app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.invite__app__text {
}

.invite__title {
  font-family: Oswald, "sans-serif";
  color: var(--primary350);
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 5.2rem;
  margin-bottom: 2.8rem;
}

.invite__subtitle {
  font-family: Inter, "sans-serif";
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.invite__subtitle:nth-of-type(1) {
  margin-bottom: 1.6rem;
}

.invite__subtitle:nth-of-type(2) {
  margin-bottom: 2.6rem;
}

.invite__button {
  color: var(--white50);
  font-family: Inter, "sans-serif";
  font-size: 1.8rem;
  font-weight: 700;
  background: var(--primary200);
  padding: 1.3rem 6rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: 5.1rem;
}

.invite__button:hover {
  background-color: #0056b3;
}

/*========== RESPONSIVO DISPOSITIVOS MENORES =============*/

@media screen and (max-width: 1280px) {
  .calculator__content,
  .results__content {
    padding: 2rem;
  }

  .calculator__header,
  .calculator__container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .calculator__first-row__input {
    display: flex;
    gap: 3.6rem;
  }

  .invite__app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    text-align: center;
  }

  .invite__button {
    font-size: 1.6rem;
    margin-bottom: 6rem;
  }
}

@media screen and (max-width: 650px) {
  .calculator__container_text {
    margin-bottom: 4.8rem;
  }

  .calculator__image {
    max-width: 100%;
  }

  .calculator__title {
    font-size: 3.2rem;
    text-align: center;
  }

  .calculator__subtitle {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 500;
    text-align: center;
  }

  .calculator__forms {
    display: flex;
    padding: 4rem 2rem;
    flex-direction: column;
    align-items: center;
  }

  .calculator__forms__title {
    font-size: 20px;
  }

  .calculator__inputs input {
    width: 100%;
  }

  .calculator__inputs.first,
  .calculator__inputs.second {
    font-size: 1.4rem;
  }

  .calculator__inputs.second {
    max-width: 130px;
  }

  .calculator__first-row__input {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    width: 100%;
  }

  .result__two__first__rows {
    display: flex;
    gap: 1.6rem;
  }

  .results__content {
    padding: 2rem;
  }

  .results__resume {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .result__items {
    flex-direction: column;
    gap: 2rem;
  }

  .cards__container .cards .card__info {
    flex: 1 1 calc(25% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.4rem;
    background-color: #f7f9fc;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 21rem;
  }

  .cards__container .cards .card__info.card-off,
  ..cardText {
    gap: 0.5rem;
  }

  .card__title {
    font-size: 1.4rem;
  }

  .cardSubtitle {
    text-align: left;
    font-size: 1.3rem;
  }

  .cardTitle img {
    width: 1.7rem;
  }

  .cardImage img {
    width: 100%;
    max-height: 80px;
  }

  .invite__app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    text-align: center;
  }

  .invite__image {
    max-width: 100%;
  }

  .invite__title {
    font-size: 3.2rem;
  }

  .invite__subtitle {
    font-size: 1.6rem;
  }

  .invite__button {
    font-size: 1.6rem;
    margin-bottom: 6rem;
  }
}
