.main {
  font-family: Inter, sans-serif;
  letter-spacing: -0.011em;
}

.main h1,
.main h2,
.main h3 {
  font-family: Oswald, sans-serif;
}

.main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroSection {
  background: linear-gradient(225.64deg, #fff7e6 0%, #ffffff 73.47%);
}

.hero {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  gap: 1rem;
}

.hero img {
  margin-left: 0;
}

.title {
  font-size: 52px;
  font-weight: 600;
  line-height: 62.4px;
  color: var(--primary300);
  margin-bottom: 60px;
}

.pretitle {
  font-family: Oswald;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  color: var(--gray500);
}

/* .teamSection{
  max-width: 1280px;
  margin: 0 auto;
} */

.textCard h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  color: var(--primary500);
  margin-bottom: 10px;
}

.textCard h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  color: var(--primary500);
  margin-bottom: 10px;
}

.textCard p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.subhero {
  display: flex;
  gap: 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.paddingBottom {
  padding-bottom: 50px;
}

.teamSection {
  padding: 92px 0px 200px;
  background-color: var(--primary50);
}

.teamSection a {
  color: inherit;
  text-decoration: none;
}

.teamSection header {
  display: flex;
  align-items: center;
  gap: 100px;
  max-width: 1280px;
}

/* .teamSection .textCard {
  max-width: 1000px;
} */

.teamSection .textCard p {
  margin-top: 30px;
}

.ibsonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 40px 16px 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px 8px 0px #00000026;
  text-align: center;
}

.ibsonCard .name {
  margin-bottom: 20px;
  font-family: Oswald;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: center;
}

.ibsonCard .linkedinLink {
  display: flex;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.teamTitle {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  text-align: center;
  color: var(--primary500);
}

.teamSection2 {
  max-width: 1280px;
}

/* .teamGrid {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  gap: 32px;
  justify-content: center;
  max-width: 1280px;
  
} */

.teamGrid {
  display: grid;
  grid-template-columns: repeat(4, 296px); /* Cards com 280px */
  gap: 32px;
  justify-content: center;
  width: 100%;
}

/* @media (max-width: 1460px) {
  .hero {
    padding-right: 40px;
  }

  .subhero {
    padding-left: 60px;
  }
} */

@media (max-width: 1280px) {
  .hero {
    flex-direction: column-reverse;
    padding-top: 50px;
    text-align: center;
  }

  .hero img {
    width: 100%;
  }

  .waveImage {
    display: none;
  }

  .textCard {
    text-align: center;
  }

  .teamSection header {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .teamGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .heroSection {
    gap: 20px;
  }

  /* .hero img {
    display: none;
  } */

  .teamGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .main {
    text-align: center;
  }

  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title {
    margin-bottom: 40px;
  }

  .subhero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }

  .teamSection {
    padding-left: 20px;
    padding-right: 20px;
  }

  .teamGrid {
    grid-template-columns: 1fr;
  }

  .pretitle {
    font-family: Oswald;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.1rem;
    color: var(--gray500);
  }

  .title {
    font-family: Oswald;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.8rem;
    color: var(--primary300);
  }

  .textCard h3 {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.011em;
    text-align: center;
    order: 1;
  }

  .textCard p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: -0.011em;
    text-align: center;
  }

  .hero img {
    width: 100%;
    
  }
}
